@use './assets/fonts/kollektif/stylesheet.scss' as *;
@use './assets/fonts/montserrat/stylesheet.scss' as *;
@use './assets/fonts/norwester/stylesheet.scss' as *;
@use './partials/index' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
	height: 2400px;
}

@layer base {
	section {
		padding: 1rem 1rem;

		@media screen and (min-width: 768px) {
			padding: 3rem 2rem;
		}
	}
}

@layer components {
	.NavList {
		height: 0;
		transition: all 0.5s ease-in-out;

		&--show {
			height: 20vh;
			transition: all 0.5s ease-in-out;
		}
	}

	.ji-divider {
		@apply bg-blue h-4 w-4 relative mx-auto rotate-45;

		&::before {
			@include divider-sides(before);
		}

		&::after {
			@include divider-sides(after);
		}
	}

	.cta {
		@apply inline-block text-green py-2 px-4 border border-green rounded-full hover:bg-green hover:text-white md:ml-8;
	}
}
