@use './assets/fonts/kollektif/stylesheet.scss' as *;
@use './assets/fonts/montserrat/stylesheet.scss' as *;
@use './assets/fonts/norwester/stylesheet.scss' as *;
@use './partials/index' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
	height: 2400px;
}

@layer base {
	section {
		@apply p-4 scroll-mt-20;

		&:nth-child(even) {
			@apply bg-light-blue;
		}

		@media screen and (min-width: 768px) {
			padding: 3rem 2rem;
		}
	}
}

@layer components {
	.NavList {
		height: 0;
		transition: all 0.5s ease-in-out;

		&--show {
			height: 20vh;
			transition: all 0.5s ease-in-out;
		}
	}

	.HexRow {
		$hex-spacing: 1rem;
		display: flex;
		gap: 0.2rem;
		margin-top: calc(0rem - $hex-spacing);

		&:first-child {
			margin-top: calc($hex-spacing/2);
		}

		&:last-child {
			margin-bottom: $hex-spacing + calc($hex-spacing/2);
		}

		&:nth-child(even) {
			margin-left: 2.6rem;
		}
	}

	.Hex {
		$hex-parent: &;
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		width: 5rem;
		height: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		background-color: rgba(white, 0.4);
		transition: all 0.5s ease-in-out;
		cursor: pointer;
		opacity: 0.4;

		&:hover {
			background-color: rgba(white, 1);
			transform: scale(1.2);
			opacity: 1;
		}

		&__img {
			width: 50%;
			height: auto;
			object-fit: fill;
		}
	}

	.ji-divider {
		@apply bg-blue h-4 w-4 mx-auto rotate-45;

		&::before {
			@include divider-sides(before);
		}

		&::after {
			@include divider-sides(after);
		}
	}

	.cta {
		@apply inline-block text-green py-2 px-4 border border-green rounded-full hover:bg-green hover:text-white md:ml-8;
	}
}
